dotenv==0.9.9
MarkupSafe==3.0.4
narwhals==2.26.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
protobuf==7.36.2
pyarrow==25.0.1
pydeck==0.9.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
python-multipart==0.0.32
referencing==0.37.0
requests==2.34.2
streamlit==1.65.0
toml==0.10.2

